.LeftSideBar {
    transition: transform 500ms;
    transform: translate(0%)
}

.RightSideBar {
    transition: transform 500ms;
    transform: translate(0%)
}

.LeftSideBar__Closed {
    transform: translate(-100%)
}

.RightSideBar__Closed {
    transform: translate(100%)
}

.SiteLink {
    @apply mb-3 h-10 pl-4 pr-3 flex items-center text-white rounded-xlg;
}

.SiteLink:hover {
    @apply bg-white-overlay;
}


.TocLink {
    @apply mb-3 block bg-white-overlay text-lg text-white leading-normal rounded-xlg text-center p-2;
}