@tailwind base;
/* purgecss start ignore */
.select-none {
    -webkit-tap-highlight-color: transparent;
}

[type="button"] {
    outline: none;
    -webkit-appearance: none;
}

body.with-cover {
    overflow: hidden;
}

.content .post-content a{
    @apply underline text-indigo-600
}

.content p.nbsp:not(:last-child) {
    @apply mb-6;
}

.content br {
    display: block;
}

.content p {
    @apply text-base leading-relaxed font-sans
}

.content p:not(:last-child){
    @apply mb-6
}

.content li {
    @apply mb-6
}
.content img {
    @apply max-w-full h-auto;
}

.content p,
.content ul,
.content li{
    @apply text-gray-700
}

.content h2 {
    @apply text-2xl font-bold mb-8 leading-relaxed mt-0 text-primary-l-3 text-center;
}

.content blockquote {
    @apply m-0 p-5 bg-primary rounded-lg bg-primary-light mb-6
}

.content figure.image {
    @apply flex justify-center mb-4 h-full mx-auto
}

.content figure > img {
    @apply rounded-lg w-full h-auto
}

.content .nsbp{
    @apply block mt-6;
    content: " "
}

.loading-anim {
    background: linear-gradient(272deg, #edf2f7, #f7fafc);
    background-size: 400% 400%;

    -webkit-animation: wave 1s ease infinite;
    -moz-animation: wave 1s ease infinite;
    animation: wave 1s ease infinite;
}

@-webkit-keyframes wave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes wave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes wave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* purgecss end ignore */
@tailwind components;

.left-sidebar-section {
    @apply h-14 pl-4 pr-3 flex items-center text-white rounded-xlg;
}

.left-sidebar-section:hover {
    @apply bg-white-overlay;
}

.left-sidebar-item {
    @apply mt-3 text-white text-base block;
}

.left-sidebar-item:hover{
    @apply underline;
}

@tailwind utilities;

